

<%= form_tag "/products", method: :post do%>

  <div>
  <label name="form_name">Name</label>
    <input type="text" name="form_name">
  </div>
  <div>
  <label name="form_price">Price</label>
    <input type="text" name="form_price">
  </div>
  <label name="form_description">Description</label>
    <input type="text" name="form_description">
  </div>
  <div>
  <label name="form_image">Image</label>
    <input type="text" name="form_image">
  </div>
  <button class="btn btn-default" type="submit">Submit</button>

<% end %>